<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Water Contaminants in the USA</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  </head>
  <body>

    <!-- The div where we will inject our map -->
    <div id="header">
      <h1>Water Contaminants in the USA</h1>
    </div>
    <div id="map"></div><br>
    <div id="user_input" class="container">
      <div class='row'>
        <div class="col-md-6" style="text-align: center">
          <strong>Select Analyte</strong>
        </div>
        <div class="col-md-6" style="text-align: center">
          <strong>Select State</strong>
        </div>
      </div>
      <div class='row'>
        <div class="col-md-6" style="text-align: center">
          <select id=selDataset></select>
        </div>
        <div class="col-md-6" style="text-align: center">
          <select id=selState></select>
        </div>
      </div>
    </div>
    <br><br>
    <div id="analyte_info" class="container">
      <div class="row" id="analyte_head" style="vertical-align: center">
        <h2 id="analyte_name">Analyte</h2>
      </div>
      <div class="row" id="analyte_additional"></div><br>
      <div class="row" id="analyte_labels">
        <div class="col-md-4" style="text-align: center"><strong>Caution Value</strong></div>
        <div class="col-md-4" style="text-align: center"><strong>Extreme Caution Value</strong></div>
        <div class="col-md-4" style="text-align: center"><strong>Danger Value</strong></div>
      </div>
      <div class="row" id="analyte_caution">
        <div class="col-md-4" id="caution" style="text-align: center"></div>
        <div class="col-md-4" id="extreme_caution" style="text-align: center"></div>
        <div class="col-md-4" id="danger" style="text-align: center"></div>
      </div>
      <br>
      <div class="row" id="url">
        <a id="url_text" href="" target="_blank">For more information, click here to find out more information about the chosen contaminant!</a>
      </div>
    </div>
    <br><br>
    <div id="graph"></div>
    <div id="table">
      <table id="data_table" class="table table-striped">
        <thead id="table_head"></thead>
        <tbody id="table_body"></tbody>
      </table>
    </div>
    <br><br><br><br><br><br><br><br><br>

    <!-- Leaflet JS-->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename= 'JS/choropleth.js') }}"></script>

    <!-- Our JS -->
    <script type="text/javascript" src="{{ url_for('static', filename= 'JS/config_new.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'data/states.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename= 'JS/logic.js') }}"></script>

  </body>
</html>


